.bold {
  font-family: Almoni-Bold;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.black-screen {
  position: fixed;
  width: 100%;
  height: 100dvh;
  inset: 0;
  background-color: rgba(41, 47, 76, 0.7);
}

.app {
  display: grid;
  grid-template-areas:
    "header page";
  grid-template-columns: 153px 1fr;
}

.app-header {
  grid-area: header;
}

.page {
  grid-area: page;
  width: 100%;
  min-height: 100dvh;

  .page-content {
    margin-inline: auto;
    width: 935px;
    height: 100%;
  }
}