@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./helpers";

body {
  font-family: Almoni;

  &:has(.has-scroll) {
    &:has(.dialog) {
      overflow-y: scroll;
      position: fixed;
      inset: 0;
    }
  }
}

input {
  outline: unset;
}